.page-link {
    border: none;
    padding: 0px;
    margin-right: .5rem;
    font-family: TT Norms Medium,Helvetica Neue,Arial,sans-serif;
}

.page-text {
    margin-right: .5rem;
}

[class=page-item] .page-link:active {
    color: #444;
    text-decoration: none;
}

.page-link:hover {
    text-decoration: underline;
    color: #008497;
    background-color: transparent;
}

.arrow-icon {
    margin-bottom: 3px;
    width: 10px;
    height: 10px;
}

.arrow-icon-close {
    transform: rotate(270deg);
}

.arrow-icon-open {
    transform: rotate(90deg);
}
